
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap');

body{
    font-family: 'Raleway', sans-serif;
    line-height: 1.5em;
    height:100vh;
    margin:0;
    background-color: #e6dbb9;
    position:relative;

}
form{

    margin:auto;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: 1px solid #000; */
    width : 400px;
    height: 500px;
    padding: 25px;
    border-radius: 5px;
    background-color: white;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    border-radius: 15px;


}

.text{
    text-align: center;
    font-size: x-large;
    font-weight: bold
}

input {

    width : 100%;
    box-sizing: border-box;
    padding: 15px;
    padding-left: 30px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.233);
    margin-top:-10px;

}
input:hover{
    border: 1px solid dodgerblue;
    box-shadow: 0 0 5px dodgerblue;
}
input:focus::placeholder{
    color:transparent;
}
#login {
    width:84%;
    font-size: 24px;
    padding: 10px;
    border-radius: 5px;
    background-color: orange;
    border : none;
    color : #fff;
    margin-top: 25px;
    margin-left: 35px;


}

#kakao {
    width: 75%;
    position: absolute;
    margin-top: 10px;
    padding: 0;
    height: 55px;
    border: none;
    background: none;
    right: 55px;

}

#naver {
    width: 75%;
    position: absolute;
    margin-top: 50px;
    padding: 0;
    height: 48px;
    border: none;
    background: none;
    right: 55px;

}

button:hover{

    cursor: pointer;
    background-color: #2c778e;

}