<!DOCTYPE html>
<html
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<!--        <link rel="icon" type="image/x-icon" href="assets/profile_icon.ico" />-->
	<!-- Bootstrap icons-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="css2/styles.css" rel="stylesheet" />
	<meta charset="UTF-8">
	<title>회원 가입</title>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/jquery.validate.min.js" ></script>


</head>
<body>

<div id="wrap">
	<div style="text-align : center;">
		<h1>회원가입</h1>
		<form id = "registerForm" method="post" action="/register">
			<h3>아이디</h3>
			<div class="userID">
				<input type="text" class="input" placeholder="아이디" name="userId"  id = "userId" title="아이디" maxlength="20"/>
			</div>
			<h3>비밀번호</h3>
			<div class="userPw">
				<input type="password" id = "userPw" class="input" placeholder="비밀번호" name="userPw" title="비밀번호" maxlength="20"/>
			</div>
			<h3>비밀번호 확인</h3>
			<div class="userPwchk">
				<input type="password" id = "userPwchk" class="input" placeholder="비밀번호확인" name="userPwchk" title="비밀번호" maxlength="20"/>
			</div>


			<h3>이름</h3>
			<div class="userName">
				<input type="text" id = "userName" class="input" placeholder="이름" name="userName" title="이름" maxlength="20"/>
			</div>
			<h3>생년월일</h3>
			<div class="userDate">
				<input type="date" id = "userDate" class="input" placeholder="생년월일" name="userDate"/>
			</div>

			<h3>성별</h3>
			<div class="userSex">
				<input type="radio" id = "userSex" name="userSex" value="M" title="성별"/>
				남자
				<input type="radio" id = "userSex2" name="userSex" value="F" title="성별"/>
				여자
			</div>
			<h3>핸드폰 번호</h3>
			<div class="userPhnum">
				<input type="text" id = "userPhnum" name = "userPhnum" class="input" placeholder="핸드폰 번호" title="핸드폰 번호" maxlength="20"/>

			</div>
			<br>
			<br>
			<br>
			<div class = "userPolicy">
				이용약관,개인정보 수집 및 이용, 위치기반 서비스에 동의합니다.<input type="checkbox" id = "userPolicy" name = "userPolicy"/>
			</div>
			<br>
			<br>
			<br>
			<div>
				<input class="btn_member" type="submit" value="가입완료">
			</div>
		</form>
	</div>

</div>
<!--<script src = "/Scripts/jquery-2.2.1.js"></script>-->
<!--<script src = "/Scripts/jquery.validate.js"></script>-->
<!--<script type = "text/javascript" src = "/static/resources/js/join"></script>-->
</body>
</html>