<!DOCTYPE html>
<html
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

<head>
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script type="text/javascript" src="/js/main.js"></script>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<meta name="description" content="" />
	<meta name="author" content="" />

	<!--        <link rel="icon" type="image/x-icon" href="assets/profile_icon.ico" />-->
	<!-- Bootstrap icons-->
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
	<!-- Core theme CSS (includes Bootstrap)-->
	<link href="css2/styles.css" rel="stylesheet" />
	<meta charset="UTF-8">
	<title>회원 가입</title>
	<script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.11.0/jquery.validate.min.js" ></script>
	<script type="text/javascript">

//		$(document).ready(function () {
//			//기본형태
//			//$('#registerForm').validate(); //유효성 검사를 적용
//
//			// validate signup form on keyup and submit
//			//확장옵션
//			$('#registerForm').validate({
//				rules: {
//					userId:{required:true, minlength:3, remote:"Validate"},
//					userPw: "required",
//					userPwchk: {required:true, equalTo:'#userPw'},
//					userName: {required:true},
//					userDate: {required:true},
//					userSex: {required:true},
//					userPhnum: {required:true},
//					userPolicy: {required:true}
//				},
//				messages: {
//					userId: {
//						required: "아이디를 입력하시오.",
//						minlength: jQuery.format("아이디는 {0}자 이상 입력해주세요!"),
//						remote: jQuery.format("입력하신 {0}는 이미존재하는 아이디입니다. ")
//					},
//					userPw: "암호를 입력하시오.",
//					userPwchk: {
//						required: "암호확인를 입력하시오.",
//						equalTo: "암호를 다시 확인하세요"
//					},
//					userName: {required: "이름을 입력하시오."},
//					userDate: {
//						required: "생년월일을 입력하시오."
//					},
//					userSex: {required: "성별을 선택 해 주세요"},
//					userPhnum: {required: "핸드폰 번호를 입력해주세요"},
//					userPolicy: {required: "약관에 동의하지 않으면 가입하실 수 없습니다."}
//				}
//여기부터
// 				,
// 				submitHandler: function (frm){
// 					frm.submit();   //유효성 검사를 통과시 전송
// 				},
// 				success: function(e){
// 					//
// 				}
//여기까지는 생략 가능
				});
		});


	</script>
</head>
<body>

<div id="wrap">
	<div style="text-align : center;">
		<h1>회원가입</h1>
		<form id = "registerForm" method="post" action="/register">
			<h3>아이디</h3>
			<div class="userID">
				<input type="text" class="input" placeholder="아이디" name="userId"  id = "userId" title="아이디" maxlength="20"/>
			</div>
			<h3>비밀번호</h3>
			<div class="userPw">
				<input type="password" id = "userPw" class="input" placeholder="비밀번호" name="userPw" title="비밀번호" maxlength="20"/>
			</div>
			<h3>비밀번호 확인</h3>
			<div class="userPwchk">
				<input type="password" id = "userPwchk" class="input" placeholder="비밀번호확인" name="userPwchk" title="비밀번호" maxlength="20"/>
			</div>


			<h3>이름</h3>
			<div class="userName">
				<input type="text" id = "userName" class="input" placeholder="이름" name="userName" title="이름" maxlength="20"/>
			</div>
			<h3>생년월일</h3>
			<div class="userDate">
				<input type="date" id = "userDate" class="input" placeholder="생년월일" name="userDate"/>
			</div>

			<h3>성별</h3>
			<div class="userSex">
				<input type="radio" id = "userSex" name="userSex" value="M" title="성별"/>
				남자
				<input type="radio" id = "userSex2" name="userSex" value="F" title="성별"/>
				여자
			</div>
			<h3>핸드폰 번호</h3>
			<div class="userPhnum">
				<input type="text" id = "userPhnum" name = "userPhnum" class="input" placeholder="핸드폰 번호" title="핸드폰 번호" maxlength="20"/>

			</div>
			<br>
			<br>
			<br>
			<div class = "userPolicy">
				이용약관,개인정보 수집 및 이용, 위치기반 서비스에 동의합니다.<input type="checkbox" id = "userPolicy" name = "userPolicy"/>
			</div>
			<br>
			<br>
			<br>
			<div>
				<input class="btn_member" type="submit" value="가입완료">
			</div>
		</form>
	</div>

</div>
<!--<script src = "/Scripts/jquery-2.2.1.js"></script>-->
<!--<script src = "/Scripts/jquery.validate.js"></script>-->
<!--<script type = "text/javascript" src = "/static/resources/js/join"></script>-->
</body>
</html>