<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://kit.fontawesome.com/a70f6f7fa0.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Shop Homepage - Start Bootstrap Template</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="/static/css2/styles.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css2/page.css">


</head>
<body>
<!-- Navigation-->
<!--<nav id="nav-style" class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--    <div class="container px-4 px-lg-5">-->
<!--        <div>-->
<!--        <a id='brand' class="navbar-brand" href="#!">광주 플레이트</a>-->
<!--        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>-->
<!--        </div>-->
<!--        <form class="d-flex" role="search">-->
<!--            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--            <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--        </form>-->
<!--        <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--                    <div id="mdiv" class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">-->
<!--                        <div class="nav-item" ><a class="nav-link active" aria-current="page"  href="#!">EatDeal</a></div>-->
<!--                        <div class="nav-item sdiv"><a class="nav-link nav-link2 active" aria-current="page" href="#!">맛집리스트</a></div>-->
<!--                        <div class="nav-item "><a class="nav-link active" aria-current="page" href="#!">망고스토리</a><div>-->
<!--                    </div>-->
<!--                        </div>-->
<!--                        <div>-->
<!--            <form class="d-flex">-->
<!--                <button id="cart" class="btn btn-outline-dark" type="submit">-->
<!--                    <i class="bi-cart-fill me-1"></i>-->
<!--                    Cart-->
<!--                    <span class="badge bg-dark text-white ms-1 rounded-pill">0</span>-->
<!--                </button>-->
<!--            </form>-->
<!--        </div>-->
<!--    </div>-->
<!--</nav>-->
<!-- Header-->

<header class="grid-image">
    <img alt="" src=https://mp-seoul-image-production-s3.mangoplate.com/93106/j8xy9s0l7b_o6i.jpg?fit=around|256:256&amp;crop=256:256;*,*&amp;output-format=jpg&amp;output-quality=80" alt="압구정공주떡집 사진 - 서울시 강남구 신사동 569-31" onerror="this.src='https://mp-seoul-image-production-s3.mangoplate.com/web/resources/kssf5eveeva_xlmy.jpg?fit=around|*:*&amp;crop=*:*;*,*&amp;output-format=jpg&amp;output-quality=80'" />
    <img alt="" src=https://mp-seoul-image-production-s3.mangoplate.com/93106/j8xy9s0l7b_o6i.jpg?fit=around|256:256&amp;crop=256:256;*,*&amp;output-format=jpg&amp;output-quality=80" alt="압구정공주떡집 사진 - 서울시 강남구 신사동 569-31" onerror="this.src='https://mp-seoul-image-production-s3.mangoplate.com/web/resources/kssf5eveeva_xlmy.jpg?fit=around|*:*&amp;crop=*:*;*,*&amp;output-format=jpg&amp;output-quality=80'" />            <img alt="" src=https://mp-seoul-image-production-s3.mangoplate.com/93106/j8xy9s0l7b_o6i.jpg?fit=around|256:256&amp;crop=256:256;*,*&amp;output-format=jpg&amp;output-quality=80" alt="압구정공주떡집 사진 - 서울시 강남구 신사동 569-31" onerror="this.src='https://mp-seoul-image-production-s3.mangoplate.com/web/resources/kssf5eveeva_xlmy.jpg?fit=around|*:*&amp;crop=*:*;*,*&amp;output-format=jpg&amp;output-quality=80'" />
    <img alt="" src=https://mp-seoul-image-production-s3.mangoplate.com/93106/j8xy9s0l7b_o6i.jpg?fit=around|256:256&amp;crop=256:256;*,*&amp;output-format=jpg&amp;output-quality=80" alt="압구정공주떡집 사진 - 서울시 강남구 신사동 569-31" onerror="this.src='https://mp-seoul-image-production-s3.mangoplate.com/web/resources/kssf5eveeva_xlmy.jpg?fit=around|*:*&amp;crop=*:*;*,*&amp;output-format=jpg&amp;output-quality=80'" />
    <img alt="" src=https://mp-seoul-image-production-s3.mangoplate.com/93106/j8xy9s0l7b_o6i.jpg?fit=around|256:256&amp;crop=256:256;*,*&amp;output-format=jpg&amp;output-quality=80" alt="압구정공주떡집 사진 - 서울시 강남구 신사동 569-31" onerror="this.src='https://mp-seoul-image-production-s3.mangoplate.com/web/resources/kssf5eveeva_xlmy.jpg?fit=around|*:*&amp;crop=*:*;*,*&amp;output-format=jpg&amp;output-quality=80'" />
</header>
<!-- Section-->
<section>

    <div class = "restaurant_title_wrap;">
        <!-- 가게이름-->
        <span class = "title">
                <h1 class = "restaurant_name">압구정 떡집
                    <!--평점-->
                    <strong class = "rate-point">
                    <span class="review">4.4</span>
                </strong>
                     <button class="btn btn-penstar" onclick="location.href='review.html' ">
                    <i class="fa-solid fa-pen icon icon--review "></i>

                </button>

                <button class="btn btn-penstar">
                    <i class="fa-regular fa-star icon icon--star"></i>


                </button>
                    <!--즐겨찾기 클릭 시 아이콘 변경-->
                 <button class="btn btn-outline-dark" hidden>
                     <i class="fa-solid fa-star"></i>
                    가고싶다
                </button>


                </h1>
            </span>
        <div class="restaurant_action_button_wrap">

            <div id="iclass">
            <i class="fa-solid fa-eye">조회수&nbsp&nbsp</i>
            <i class="fa-solid fa-pen">리뷰수&nbsp&nbsp</i>
            <i class="fa-regular fa-star">즐겨찾기수</i>
            </div>
            <br>
            <div id = "box">
                <table  class = "table table-borderless">
                    <tr class = tu>
                        <th>주소</th>
                        <td>서울특별시 강남구 논현로 161길 11
                            <br>
                            <span class = addr id = "box-text">지번</span>
                            <span class = addr_text style="color: #6c757d;">서울시 강남구 신사동 569-31</span></td>
                    </tr>
                    <tr>
                        <th>전화번호</th>
                        <td>02-516-3643</td>
                    </tr>
                    <tr>
                        <th>음식종류</th>
                        <td>카페/디저트</td>
                    </tr>
                    <tr>
                        <th>가격대</th>
                        <td>만원미만</td>
                    </tr>
                    <tr>
                        <th>주차</th>
                        <td>주차공간 없음</td>
                    </tr>
                    <tr>
                        <th>영업시간</th>
                        <td>00:00 - 24: 00</td>
                    </tr>
                    <tr>
                        <th>메뉴</th>
                        <td class="menu">흑임자 인절미 &emsp;&emsp;&emsp;&emsp;&emsp;<span>7000원</span></td>
                    </tr>
                    <tr>
                        <th></th>
                        <td class="menu">흑임자 인절비&emsp;&emsp;&emsp;&emsp;&emsp;<span>17000원</span></td>

                    </tr>
                    <tr>
                        <th></th>
                        <td class="menu">쑥송편&ensp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span>7000원</span></td>

                    </tr>
                    <tr>
                        <th></th>
                        <td class="menu">쑥개떡&ensp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span>7000원</span></td>

                    </tr>
                    <tr >
                        <th></th>
                        <td class="menu">두텁떡&ensp;&nbsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<span>6000원</span></td>
                    </tr>
                    <th></th>

                    <tr class="un">
                        <th class="not">식당 소개</th>
                        <td>흑임자 인절미가 유명한 떡집, 전국에서 오직 한 곳 운영, 유사 상호 주의</td>
                    </tr>

                </table>
                <!--   리뷰     -->
                <span>리뷰</span>
                <!--   리뷰 -->

            </div>
        </div>


    </div>
</section>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script src="js/scripts.js"></script>
</body>
</html>
