<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutContents.html}">
<head>
</head>
<body>
<div layout:fragment="content">
    <!-- Navigation-->
    <th:block th:replace="fragments/navSearch.html"></th:block>
    <header class="grid-image">

    </header>
    <!-- Section-->
    <section>
        <div class="restaurant_title_wrap;">
            <!-- 가게이름-->
            <span class="title">
<!--            <a href="/" style="text-decoration: none;">메인으로</a>-->
                <h1 class="restaurant_name">
                        <span id="workplace"> </span>
                    <!--즐겨찾기 클릭 시 아이콘 변경-->
                <button th:if="${session.userId}" class="btn btn-outline-dark wStar" type="submit" style="margin-left: 30%;" >
                <i class="fa-regular fa-star"></i>
                    즐겨찾기
                </button>
                <button th:if="${session.userId eq null}" class="btn btn-outline-dark" type="button" style="margin-left: 30%;" data-bs-target="#log1n" data-bs-toggle="modal" data-bs-dismiss="modal" >
                     <i class="fa-regular fa-star"></i>
                    즐겨찾기
                </button>

                <button class="btn btn-outline-dark bStar hidden" style="margin-left: 30%;" >
                    <i class="fa-solid fa-star"></i>
                    즐겨찾기
                </button>
                </h1>
            </span>
            <div class="restaurant_action_button_wrap">
                <div id="iclass">
                    <i class="fa-solid fa-eye resViews"></i>
                    <i class="fa-solid fa-pen reviewCountNum"></i>
                    <i class="fa-regular fa-star bookCount"></i>
                </div>
                <br>
                <div id="box">

                    <div id="map" class="detail_map" style="width:350px; height:350px;"></div>

                    <table class="table table-borderless">
                        <tr class=tu>
                            <th>주소</th>
                            <td>
                                <div id="roadAddr"></div>
                                <br>
                                <span class=addr id="box-text">지번</span>
                                <span class=addr_text style="color: #6c757d;" id="locAddr"></span>
                            </td>
                        </tr>
                        <tr>
                            <th>전화번호</th>
                            <td id="tel"></td>
                        </tr>
                        <tr>
                            <th>음식종류</th>
                            <td id="state"></td>
                        </tr>
                        <th></th>
                        <tr class="un">
                            <th class="not">소개</th>
                            <td id="resContent"></td>
                        </tr>
                    </table>
                    <!--리뷰 작성-->
                    <div class="card mb-2" style="width:500px; ">
                        <div class="card-header bg-light">
                            <i class="fa fa-comment fa"></i> 리뷰를 작성해주세요
                        </div>
                        <div class="card-body" style="width:500px; ">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <form action="reviewInput" method="post" enctype="multipart/form-data">
                                        <input id="userId" name="userId" type="hidden" th:value="${session.userId}"></input>
                                        <input type="hidden" id="num" name="num">
                                        <textarea class="form-control" name="reviewText" id="reviewText" rows="3"
                                                  placeholder="주문하신 메뉴는 어떠셨나요? 식당의 분위기와 서비스도 궁금해요!"></textarea>
                                        <p style="float:right; font-size: smaller">
                                            <span id="byteCount" >0</span>
                                            <span> / 300자</span>
                                        </p>
                                        <input id="imageFile" type="file" name="imageFile" accept="image/*" style="width: 60%; margin-top: 5%">
                                        <button type="submit" class="btn btn-dark mt-3" style="margin-right: 50%;">리뷰 작성</button>
                                    </form>
                                </li>
                                <div class="img_thumbnail_box hidden">
                                    <img src="" >
                                    <button type="button" class="btn btn-close mt-3 review_img_delete"></button>
                                </div>
                            </ul>
                        </div>
                    </div>
                    <!--작성된 리뷰-->
                    <div class="card mb-2" style="width:500px; ">
                        <div class="card-header bg-light reviewCount">

                        </div>
                        <!--이곳에 작성된 리뷰 추가-->
                        <div id="reviewAdd">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
<section layout:fragment="contentScriptFragment">
    <script type="module" th:src="${@versionComponent.getVersion('/resources/build/detail.bundle.js')}"></script>
    <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=d4e7aa977dce1bff94f0ecefccc64931&libraries=services"></script>
</section>
</html>
