<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutContents.html}">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <title>광주 플레이트</title>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="css2/styles.css" rel="stylesheet"/>
    <link href="css2/nav.css" rel="stylesheet"/>
</head>
<body>
<div layout:fragment="content">
    <!-- Navigation-->
    <th:block th:replace="fragments/nav.html"></th:block>
    <!-- Header-->
    <header class="bg-light py-5">
        <div class="container px-4 px-lg-5 my-5 text-center">
            <div class="text-center text-white">
                <p class="fw-bolder" style="color: black; font-size: large;">솔직한 리뷰, 믿을 수 있는 평점!</p>
                <h1 class="display-5 fw-bolder" style="color: black;">광주 플레이트</h1>
            </div>
            <br>
            <div style="display: inline-block; text-align: center; width: 742px; height: 56px;">
                <form action="/searchInput" method="get">
                    <img src="assets/search_ico.ico" style="height:30px; width: 30px; margin-right: 5px;">
                    <input name="searchInput" id="searchInput" type="text" placeholder="지역, 식당 또는 음식"
                           style="width: 415px; height: 50px;">
                    <button type="submit" id="searchButton" style="width:80px; height: 50px; background-color: black; color:white;">
                        검 색
                    </button>
                </form>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="popular_top_list_wrap py-5">
        <div>
            <h2 style="font-size:medium; text-align: center; font-weight: bold">믿고 보는 맛집 리스트</h2>
        </div>
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"></div>
        </div>
    </section>
    <!-- Bootstrap core JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</div>
<section layout:fragment="contentScriptFragment">
    <script type="module" th:src="${@versionComponent.getVersion('/resources/build/main.bundle.js')}"></script>
</section>
</body>
</html>
