<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutContents.html}">
<head>

    <style>
        .tagItem{
            text-decoration: none;
            margin: 15px 3px 0 3px;
            padding: 0 20px;
            font-size: 0.938rem;
            line-height: 38px;
            letter-spacing: 0em;
            display: inline-block;
            color: #6a6a6a;
            border: 1px solid #cbcbcb;
            border-radius: 50px;
            background-color: #fff;
        }

    </style>
</head>
<body>
<div layout:fragment="content">
    <!-- Navigation-->
    <th:block th:replace="fragments/nav.html"></th:block>
    <!-- Header-->
    <header class="py-5">
        <div class="container px-4 px-lg-5 my-5 text-center">
            <div class="text-center text-white">
                <p class="middleTitle fw-bolder">솔직한 리뷰, 나만의 최애 맛집 저장!</p>
                <h1 class="mainTitle display-5 fw-bolder">광주 플레이트 👀</h1>
            </div>
            <br>
            <div style="display: inline-block; text-align: center; width: 742px; height: 56px;">
                <form action="/searchInput" method="get">
                    <img src="assets/search_ico.ico" style="height:30px; width: 30px; margin-right: 5px;">
                    <input name="searchInput" id="searchInput" type="text" placeholder="지역, 식당 또는 음식"
                           style="width: 415px; height: 50px;">
                    <button type="submit" id="searchButton"
                            style="width:80px; height: 50px; background-color:#ff8b0f; color:white; border-radius: 5%">
                        검 색
                    </button>
                </form>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="popular_top_list_wrap categoryBox py-3" style="text-align: center;">
        <p></p>
    </section>

    <section class="popular_top_list_wrap py-5" style="border-bottom: 1px solid #dbdbdb">
        <h2 style="color:rgba(0,0,0,0.5); font-size:medium; text-align: center; font-weight: bold">지금 광플에서 조회수가 높은 인기식당</h2>
        <div class="container px-4 px-lg-5 mt-5">
            <div id="TopResAppend"
                 class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            </div>
        </div>
    </section>

    <section class="popular_top_list_wrap py-5">
        <h2 style="color:rgba(0,0,0,0.5); font-size:medium; text-align: center; font-weight: bold">믿고 보는 맛집 리스트 </h2>
        <div class="container px-4 px-lg-5 mt-5">
            <div id="listAppend"
                 class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center"></div>
        </div>
    </section>



</div>
</body>
<section layout:fragment="contentScriptFragment">
    <script type="module" th:src="${@versionComponent.getVersion('/resources/build/main.bundle.js')}"></script>
</section>
</html>
