<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutContents.html}">
<head>
</head>
<body id="bootstrap-overrides">
<div layout:fragment="content">
    <th:block th:replace="fragments/navSearch.html"></th:block>
    <header class="header">
        <div class="header_inner">
            <div style="padding-bottom: 10px; color:#9b9b9b;">
                <span id="views"></span>
                <span id="date"></span>
            </div>
            <h1 style="padding: 10px; font-size: 2.563rem; font-weight: bold;"></h1> <!-- 여기에 타이틀 넣음 -->
            <h5 style="color:#9b9b9b;"></h5>
        </div>
    </header>
    <main class="list_container">
        <div class="inner_container">
            <div class="listCardAppend">
                <!-- 여기에 listCard.html append -->
            </div>
            <div class="alert alert-primary hidden" role="alert">
                링크가 복사되었습니다 !!
            </div>
            <div class="share_restaurant_list">
                <!-- 따라만들기 힘듦 -->
                <button class="btn_copy_link">링크 복사하기</button>
                <button class="btn_share_twitter"><img src="image/twit2.png"></button>
                <button class="btn_share_facebook"><img src="image/facebook.png"></button>
            </div>
        </div>
    </main>
</div>
</body>
<section layout:fragment="contentScriptFragment">
    <script type="module" th:src="${@versionComponent.getVersion('/resources/build/list.bundle.js')}"></script>
</section>
</html>