{{each}}
  <div class="list_item">
    <div class="restaurant_image_wrapper">
      <a href="#"><img src="cafe.jpg" class="restaurant_img"></a>
    </div>
    <div class="restaurant_info">
      <a href="#"><h5>카페304 3.3</h5></a>
      <div>
        <small>
          광주 북구 - 한정식 / 백반 / 정통 한식
        </small>
      </div>
      <div>
        <small>
          <i class="fa-solid fa-eye"></i>
          <small class="restaurant_views">123123</small>
          <i class="fa-solid fa-pencil"></i>
          <small class="restaurant_reviews">123123</small>
        </small>
      </div>
    </div>
  </div>
{{/each}}