<!DOCTYPE html>
<html lang="ko"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layoutContents.html}">
<head>
</head>
<body id="bootstrap-overrides">
<div layout:fragment="content">
    <th:block th:replace="fragments/navSearch.html"></th:block>
    <main>
        <article class="all_container">
            <div class="column_wrapper">
                <div class="column_contents">
                    <div class="category_wrapper">
                        <h4><span class="category_title" id="query" th:text="${input}"></span> 맛집 인기순위</h4>
<!--                        <span role="button" class="searchFilter bkmFilter ">즐겨찾기 순</span>-->
<!--                        <span role="button" class="searchFilter viewFilter choice">조회수 순</span>-->
                    </div>
                    <br>
                    <ul id="example" class="list_restaurants_wrapper" style="list-style: none">
                        <!--여기에  append!! -->
                    </ul>
                    <!--test-->
                    <p class="selectTotalCnt" th:text="${selectTotalCnt}" hidden></p>
                    <p th:text="${paging.startPageNum}" hidden></p>
                    <p th:text="${paging.endPageNum}" hidden></p>
                    <ul class="paginationUl">
                        <!--            <li style="margin-right: 25px" th:if="${paging.prev}"><a href="#">이전</a></li>-->
                        <th:block th:each="num : ${#numbers.sequence(paging.startPageNum, paging.endPageNum)}">
                            <li><a href="#" th:text="${num}"></a></li>
                        </th:block>
                        <!--            <li th:if="${paging.next}"><a href="#">다음</a></li>-->
                    </ul>
                </div>
            </div>
            <div class="column_side">
                <!-- list map -->
                <div class="list_map">
                    <div id="map" style="width:400px;height:500px;"></div>
                </div>
            </div>
        </article>
    </main>

</div>
</body>
<section layout:fragment="contentScriptFragment">
    <script type="module" th:src="${@versionComponent.getVersion('/resources/build/search.bundle.js')}"></script>
</section>
</html>