<!DOCTYPE html>
<html	lang="ko"
         xmlns="http://www.w3.org/1999/xhtml"
         xmlns:th="http://www.thymeleaf.org"
         xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
         layout:decorate="~{layouts/layoutContents.html}">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="/css/search2.css">
</head>
<body id="bootstrap-overrides">
<div layout:fragment="content">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-5">
      <a class="navbar-brand" href="#!">광주 플레이트</a>
      <div style="display: inline-block; text-align: center;">
        <img src="assets/search_ico.ico" style="height:30px;width: 30px; margin-right: 5px;">
        <input name="search" id="search" maxlength="50" type="text" placeholder="지역, 식당 또는 음식" style="width: 300px; height: 33px;">
        <!--                    <button type="submit" style="width:180px; height: 50px;">검  색</button>-->
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
        </ul>
        <form class="d-flex">
          <button class="btn btn-outline-dark" type="submit">
            <img src="assets/profile_icon.ico" style="height: 30px;  width: 30px;">
          </button>
        </form>
      </div>
    </div>
  </nav>
  <!-- list -->
  <main>
    <article class="all_container">
      <div class="column_wrapper">
        <div class="column_contents">
          <div class="category_wrapper">
            <h4><span class="category_title" id="query" th:text="${input}" ></span> 맛집 인기순위</h4>
          </div>
          <ul id="example" class="list_restaurants_wrapper" style="list-style: none" >
            <!--여기에  append!! -->

          </ul>
          <!--test-->
          <p class="selectTotalCnt" th:text="${selectTotalCnt}" hidden></p>
          <p class="selectTotalCnt" th:text="${paging.startPageNum}" hidden></p>
          <p class="selectTotalCnt" th:text="${paging.endPageNum}" hidden></p>
          <ul class="paginationUl" style="display: flex">
<!--            <li style="margin-right: 25px" th:if="${paging.prev}"><a href="#">이전</a></li>-->
            <th:block th:each="num : ${#numbers.sequence(paging.startPageNum, paging.endPageNum)}">
              <li style="margin-right: 25px"><a href="#" th:text="${num}"></a></li>
            </th:block>
<!--            <li th:if="${paging.next}"><a href="#">다음</a></li>-->

          </ul>
        </div>
      </div>
      <div class="column_side">
        <!-- list map -->
        <div class="list_map">
          <div id="map" style="width:400px;height:500px;"></div>
        </div>
      </div>
    </article>
  </main>

  <!-- footer -->
  <footer class="footer">
    <div>
      <h1></h1>
    </div>
  </footer>
</div>
</body>
<section layout:fragment="contentScriptFragment">
  <script type="module" th:src="${@versionComponent.getVersion('/resources/build/search.bundle.js')}"></script>
  <script src="https://kit.fontawesome.com/678d4b3e11.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=so25tw5g6b&callback=CALLBACK_FUNCTION"></script>
</section>
</html>