<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smart.project.proc.Test" >
    <!--    <select id="sqlMenu2" resultType="com.smart.project.web.home.vo.TestVO" parameterType="java.lang.String">-->
    <!--        SELECT * FROM test;-->
    <!--    </select>-->

    <!--    <insert id="joinInsert" parameterType="com.smart.project.web.home.vo.JoinVO">-->
    <!--        insert into join(userId, userPw, userName)-->
    <!--        values (#{userId},password(#{userPw}),#{userName});-->
    <!--    </insert>-->

    <select id="selectRes" resultType="com.smart.project.web.home.vo.ResVO" parameterType="java.lang.String">
        select * from restaurant where workplace like concat('%',#{result},'%') or state like concat('%', #{result},'%') or locAddr like concat('%', #{result},'%')
    </select>

    <select id="selectRes2" resultType="com.smart.project.web.home.vo.ResVO" parameterType="com.smart.project.web.home.vo.Criteria">
        select * from restaurant where workplace like concat('%',#{result},'%') or state like concat('%', #{result},'%') or locAddr like concat('%', #{result},'%')
        limit #{startPage}, #{perPage};
    </select>

    <select id="selectTotalCnt" resultType="int">
        select count(*) from restaurant where workplace like concat('%',#{result},'%') or state like concat('%', #{result},'%') or locAddr like concat('%', #{result},'%');
    </select>

    <select id="mainList" resultType="com.smart.project.web.home.vo.MainVO">
        select * from resMainList;
    </select>

    <select id="ListDetailMatch" resultType="com.smart.project.web.home.vo.ResVO" parameterType="java.lang.String">
        select * from restaurant where num in (${resNumString});
    </select>

    <select id="detailRestaurant" resultType="com.smart.project.web.home.vo.ResVO" parameterType="int">
        select * from restaurant where num=#{num};
    </select>

    <select id="viewReply" resultType="com.smart.project.web.home.vo.ReplyVO" parameterType="int">
        select * from replyTB where bno=#{bno} and replyDel=0 order by rno desc;
    </select>

    <select id="countReview" resultType="int" parameterType="int">
        select count(*) from replyTB where bno=#{bno} and replyDel=0;
    </select>

    <insert id="insertReview" parameterType="com.smart.project.web.home.vo.ReplyVO">
        insert into replyTB(rno, bno, reply, replyUser)
        values(#{rno}, #{bno}, #{reply}, #{replyUser});
    </insert>

    <insert id="uploadImage" parameterType="com.smart.project.web.home.vo.FileVO">
        insert into imagesTbl(ino, originName, savedName, filePath)
        values(#{ino}, #{originName}, #{savedName}, #{filePath});
    </insert>

    <update id="updateReview" parameterType="Map">
        update replyTB set reply=#{updateText},updateDate=now() where rno=#{rno} and bno=#{bno};
    </update>

    <update id="deleteReview" parameterType="Map">
        update replyTB set replyDel=1 where rno=#{rno} and bno=#{bno};
    </update>

    <select id="selectList" parameterType="int" resultType="com.smart.project.web.home.vo.MainVO">
        select * from resMainList where listIndex=#{index};
    </select>

    <update id="listViewsUp" parameterType="int">
        update resMainList set listViews=listViews+1 where listIndex=#{index};
    </update>

    <update id="detailViewsUp" parameterType="int">
        update restaurant set resViews=resViews+1 where num=#{num};
    </update>

    <select id="selectResReview" parameterType="int" resultType="com.smart.project.web.home.vo.ReplyVO">
        select * from replyTB where bno=#{num} and replyDel=0;
    </select>

    <insert id="joinInsert" parameterType="com.smart.project.web.home.vo.MemberVO">
        insert into userRegister (userId, userPw, userName, userDate, userSex, userPhnum, userPolicy, userAuth, appendDate, updateDate)
        values(#{userId},#{userPw}, #{userName},#{userDate},#{userSex},#{userPhnum},#{userPolicy}, #{userAuth}, #{appendDate}, #{updateDate});

    </insert>

    <select id="getUserAccount" resultType="com.smart.project.web.home.vo.MemberVO">
        select * FROM userRegister WHERE userId = #{userId}
    </select>
    <insert id="bookMarkInsert" parameterType="com.smart.project.web.home.vo.BookMarkVO">
        insert into bookmarkTB (userId, resNum, resWorkplace)
        select #{userId}, #{resNum}, #{resWorkplace}
        from dual
        where not exists (select userId, resWorkplace from bookmarkTB where userId=#{userId} and resWorkplace=#{resWorkplace});
    </insert>
    <select id="bookList" resultType="com.smart.project.web.home.vo.BookMarkVO">
        select resNum, resWorkplace from bookmarkTB where userId =#{userId};
    </select>
    <delete id="bookDeletego" parameterType="com.smart.project.web.home.vo.BookMarkVO">
        delete from bookmarkTB where userID =#{userId} and resNum=#{resNum} and resWorkplace =#{resWorkplace};
    </delete>
    <select id="bookMarkCount" parameterType="int" resultType="int">
        select count(*) from bookmarkTB where resNum =#{resNum};
    </select>
    <delete id="bookSlctDel" parameterType="com.smart.project.web.home.vo.BookMarkVO">
    delete from bookmarkTB where userID=#{userId} and resWorkplace=#{resWorkplace};
    </delete>
</mapper>